# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
.terraform.lock.hcl
terraform/modules/lambda/.build/

# Lambda
lambdas/*/node_modules/
lambdas/*/*.zip

# Environment
.env
.env.*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
